/* body {background-color: black;} */
@keyframes fadein {
    from {color: #333333;}
    to {color: white;}
  }
  @keyframes slider {
    from{margin-left: -100%;}
    to{margin: 0%}
  }  
  
  @font-face {
      font-family: 'Share Tech Mono';
      src: url('https://n-o-d-e.live/fonts/font.eot');
      src: local('â˜º'), url('https://n-o-d-e.live/fonts/font.woff') format('woff'), url('https://n-o-d-e.live/fonts/font.ttf') format('truetype'), url('https://n-o-d-e.live/fonts/font.svg') format('svg');
  }
  ::-moz-selection { /* Code for Firefox */
    color: green;
    background: royalblue;
  }
  
  ::selection {
    color: green;
    background: royalblue;
  }
  body {
      letter-spacing: 0.1px;
      padding: 0;
      margin: 0;
      font-family: 'Share Tech Mono', Monospace, Courier;
      font-weight: 400;
      font-size: 17px;
      color: #c8c8c8;
      background: #222;
  }
  
  
  html {
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
  }
  
  header {
      background-color: #333333;
      padding: 30px;
      text-align: center;
      font-size: 35px;
      color: white;
  }
  
  section {
    display: -webkit-flex;
    display: flex;
  }
  
  h1 {
      color: #fff;
  }
  
  a {
      text-decoration: none;
      color: #fff;
  }
  a:hover {
      color: #fff;
      text-decoration: underline;
  }
  
  p {
      padding: 0;
      margin: 5px 0 0px 0;
  }
  
  
  /* Style the navigation menu */
  nav {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 0.50;
    background: #252526;
    padding: 1em;
    font-size: 1em;
  }
  code {
    background:  #0f0f0f;
    padding: 5px;
    color: #c8c8c8;
    display: block;
    
  }
  /* Style the list inside the menu */
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  /* Style the content */
  article {
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    background-color: #1e1e1e;
    padding: 10px;
  }
  
  /* Style the footer */
  footer {
    background-color: #333333;
    padding: 10px;
    text-align: center;
    color: white;
  }
  .fade{
    animation-name: fadein;
    animation-duration: 4s;
  }
  .slide{
    animation-name: slider;
    animation-duration: 2s;
  }
  @media (max-width: 600px) {
    section {
      -webkit-flex-direction: column;
      flex-direction: column;
    }
  }

  .footer {
    position: relative;
    bottom: 0;
    right: 4px;
  }
  